<div class="header jumbotron">
  <div class="container">
    <h1>Bustle</h1>
    {{#link-to 'about'}}About{{/link-to}}
  </div>
</div>

<div class="article-container container">
  {{#link-to 'index'}}Go Back{{/link-to}}
  <h1 class="view-title">{{model.title}}</h1>
  <img class="view-image" src={{model.image}} alt={{model.title}} />
  <h3 class="view-author">{{model.author}}</h3>
  <p class="view-submitted">{{model.submitted}}</p>
  <p class="view-category">{{model.category}}</p>
  <br>
  <p class="view-body">Kickstarter iPhone cred semiotics, food truck mustache typewriter gochujang kinfolk. Mlkshk vegan readymade, artisan godard gluten-free kogi etsy drinking vinegar. DIY you probably haven't heard of them authentic, meggings cardigan cred bespoke leggings YOLO pabst marfa flannel hammock pickled. Blog brunch man braid roof party poutine, intelligentsia man bun occupy pinterest before they sold out pug offal hoodie mumblecore. Freegan single-origin coffee tilde, 8-bit synth man braid bushwick cray austin chillwave microdosing kale chips pabst. Meditation flannel single-origin coffee cliche. Authentic man bun plaid mixtape helvetica narwhal.

Umami distillery skateboard aesthetic asymmetrical everyday carry. Ugh gastropub fap, wayfarers flannel blog meh mumblecore portland freegan chillwave neutra banh mi butcher. Butcher mustache biodiesel, raw denim vinyl cliche waistcoat portland pinterest tumblr. Banh mi fixie tousled, pop-up freegan cardigan green juice helvetica VHS kogi sartorial post-ironic fashion axe kombucha. Echo park cronut skateboard, mixtape mumblecore blog lumbersexual paleo etsy. Kale chips cardigan cray taxidermy, fanny pack kitsch pop-up. Neutra normcore kickstarter, squid heirloom forage man bun readymade listicle 8-bit bicycle rights.

Asymmetrical shabby chic fashion axe, mixtape leggings synth selfies wayfarers readymade pork belly pabst. Skateboard intelligentsia hoodie, trust fund jean shorts cold-pressed pug blue bottle sustainable beard. Church-key asymmetrical try-hard, synth normcore banh mi keffiyeh letterpress. Photo booth hella schlitz pop-up authentic, austin kogi retro tote bag bitters ethical iPhone. Master cleanse listicle everyday carry blue bottle VHS. Narwhal leggings bespoke, marfa master cleanse swag thundercats put a bird on it helvetica roof party cliche ugh gentrify knausgaard. Hoodie distillery master cleanse humblebrag, tofu ugh leggings marfa selvage gastropub squid roof party.

Viral kinfolk knausgaard shoreditch squid, migas vice ethical yr cold-pressed gochujang gastropub asymmetrical freegan. Chia mumblecore 8-bit kale chips, chicharrones VHS vegan. Actually raw denim taxidermy, whatever small batch helvetica photo booth shoreditch drinking vinegar swag chartreuse humblebrag kogi. Tilde offal authentic, cred humblebrag next level fixie austin. Bitters +1 brooklyn, tousled biodiesel williamsburg bushwick DIY umami crucifix bespoke tote bag kale chips aesthetic. Next level chillwave art party, taxidermy flannel viral mlkshk cronut. Everyday carry squid trust fund irony master cleanse, skateboard poutine.</p>
</div>
